APP_ROOT_PATH=/home/yourpath
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBUG_MODE=false

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_DEFAULT_MODEL=qwen3.5:4b

OLLAMA_DEFAULT_TIMEOUT=120
OLLAMA_DEFAULT_TEMPERATURE=0.1
OLLAMA_DEFAULT_NUM_CTX=4096